# Copyright (c) 2014, 2015, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL Community Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

# Certificates to authenticate through SSL in MySQL CLI client.
ssl-cert=/mysql_keys/client-cert.pem
ssl-key=/mysql_keys/client-key.pem

[mysqld_safe]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
skip-host-cache
skip-name-resolve
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
explicit_defaults_for_timestamp

# configure mode for MySQL appropriate for use with DataJoint
sql-mode="STRICT_ALL_TABLES,NO_ENGINE_SUBSTITUTION"

# Accommodate large data packets
max_allowed_packet=512M
innodb_log_file_size=2G
innodb_buffer_pool_size=4G
innodb_log_buffer_size=8M
innodb_file_per_table=1
innodb_stats_on_metadata=0

# Longer timeouts for datajoint populate jobs, workgroup lan interactivity
wait_timeout=600
interactive_timeout=86400
net_read_timeout=3600
net_write_timeout=3600
lock_wait_timeout=600
innodb_lock_wait_timeout=600

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure. Turn 
# ON to enable MySQL to ONLY allow SSL connections.
#bind-address = 0.0.0.0

# Turn ON to enable MySQL to ONLY allow SSL connections.
#require_secure_transport = ON

# Disable SSL
#ssl = 0

# Enable SSL
ssl = 1
ssl-cipher=DHE-RSA-AES256-SHA
ssl-ca=/mysql_keys/ca.pem
ssl-cert=/mysql_keys/server-cert.pem
ssl-key=/mysql_keys/server-key.pem
default_authentication_plugin=mysql_native_password

#log-error	= /var/log/mysql/error.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Limits directories from which MySQL can load data from. Definition 
# required for MySQL8.
secure_file_priv=NULL

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
